* text=auto

# Windows-проекты
*.sln text eol=crlf
*.cs  text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf

# Shell/Unix-скрипты (если будут)
*.sh text eol=lf

# Бинарники
*.png -text
*.jpg -text
*.jpeg -text
*.pdf -text
*.docx -text
*.xlsx -text
